.users {
  flex: 1;
  background-color: white;
  overflow: scroll;
  .user {
    display: flex;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #f6f6f6;
    .info {
      margin-left: 15px;
      h2 {
        font-size: 16px;
        margin-bottom: 8px;
      }
      .messageInfo {
        display: flex;
        align-items: center;
        .name {
          color: #080808;
          font-weight: 600;
          margin-right: 5px;
        }
        .message {
          color: #686868;
        }
      }
    }
    &:hover {
      background-color: #ebebeb;
    }
  }
}
